<template>
  <div>
    <v-row>
      <v-col class="col-12 col-md-9">
        <v-row class="mb-4">
          <v-col class="col-12 col-md-4" v-for="sale in sales" :key="sale.title">
            <sales-graph :sale="sale"></sales-graph>
          </v-col>
        </v-row>
        <v-row class="mb-4">
          <v-col class="col-6 col-md-3" v-for="statistic in statistics" :key="statistic.title">
            <statistic-card :statistic="statistic"></statistic-card>
          </v-col>
        </v-row>
        <v-row class="mb-4">
          <v-col cols="12">
            <employees-table :employees="employees" class="elevation-1"></employees-table>
          </v-col>
        </v-row>
      </v-col>
      <v-col class="col-12 col-md-3">
        <event-timeline :timeline="timeline"></event-timeline>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import axios from "@/axios.js";
import EmployeesTable from "@/components/EmployeesTable";
import SalesGraph from "@/components/SalesGraph";
import StatisticCard from "@/components/StatisticCard";
import EventTimeline from "@/components/EventTimeline";

export default {
  components: {
    EmployeesTable,
    SalesGraph,
    StatisticCard,
    EventTimeline
  },
  data: () => {
    return {
      employees: [],
      sales: [],
      statistics: [],
      timeline: []
    };
  },
  created() {
    this.initData();
  },
  methods: {
    initData() {
      this.getSales();
      this.getTimeline();
      this.getStatistics();
      this.getEmployees();
    },
    async getSales() {
      const res = await axios.getSales();
      this.sales = res;
    },
    async getTimeline() {
      const res = await axios.getTimeline();
      this.timeline = res;
    },
    async getStatistics() {
      const res = await axios.getStatistics();
      this.statistics = res;
    },
    async getEmployees() {
      const res = await axios.getEmployees();
      this.employees = res;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>