<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="employees"
      :items-per-page="5"
      @click:row="openDialog"
      :multi-sort="true"
    ></v-data-table>
    <v-dialog v-model="dialog" max-width="500">
      <v-card>
        <v-card-title class="headline">{{selectedRow.name +' - ID: '+ selectedRow.id}}</v-card-title>
        <v-card-subtitle class="mt-2">{{ selectedRow.title }}</v-card-subtitle>
        <v-card-text>{{ selectedRow.salary + ' USD/year'}}</v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "employees-table",
  props: {
    employees: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      headers: [
        { text: "Employee ID", value: "id" },
        { text: "Name", value: "name" },
        { text: "Position Title", value: "title" },
        { text: "Salary", value: "salary" }
      ],
      dialog: false,
      selectedRow: {}
    };
  },
  methods: {
    openDialog(event) {
      this.dialog = true;
      this.selectedRow = event;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>