<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <v-icon class="mr-1">mdi-monitor-dashboard</v-icon>
      <v-toolbar-title>Vuetify Dashboard</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn text rounded @click="switchDarkTheme">
        <v-icon>mdi-brightness-4</v-icon>
      </v-btn>
    </v-app-bar>
    <v-content class="ma-4">
      <router-view></router-view>
    </v-content>
    <v-footer color="primary" dark padless>
      <v-col class="text-center" cols="12">{{ new Date().getFullYear() }} — Vuetify Dashboard</v-col>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "App",

  components: {},

  data: () => ({
    //
  }),
  methods: {
    switchDarkTheme() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
    }
  }
};
</script>
